<div class="container" *ngIf="this._mainService.flagPlay ? true : false">
  <div class="row row-title">
    <div class="col-12 col-title">
<img [src]="imgArrow"  class="down-arrow" alt="down-arrow">
<h3 class="title-main">Playlist</h3>
<h3 class="points">. . .</h3>

    </div><!--end col-title-->
  </div><!--end row-->
  <div class="row row-img">
    <div class="col-12 col-img">
      <div class="container-img">
      <img [src]="this._mainService.listado[this._mainService.id]['img']" alt="..." class="img-main">
     </div>
    </div>
    <!--end col-img-->
  </div>
  <!--end row-->
  <div class="row row-info">
    <div class="col-12 col-info">
      <div class="artist-info">
      <h2 class="art-inf">{{this._mainService.listado[this._mainService.id]["song"]}}</h2 >
      <h5 class="song-inf">{{this._mainService.listado[this._mainService.id]["artist"]}}</h5>
    </div>
    <div class="heart-icon">
      <img [src]="imgheart"  class="heart" alt="heart">
    </div>
    </div>
    <!--end col-play-->
  </div>
  <!--end row-->
  <div class="row row-audio">
      <div class="col-12 col-audio">
          <img class="circles" [src]="imgRandom" alt="">
        <img class="skip" [src]="imgSkipBack" alt="">
        <img class="play" [src]="imgPlay" alt="" *ngIf="show" (click)="reproduce()">
        <img class="pause" [src]="imgPause" alt="" *ngIf="!show" (click)="pause()">
        <img class="skip" [src]="imgSkipEnd" alt="">
        <img class="circles" [src]="imgShuffle" alt="">

          <audio class="audio" controls>
              <source [src]="this._mainService.listado[this._mainService.id]['src']" type="audio/mpeg">
            </audio>
      </div>
      <!--end col-audio-->
    </div>
    <!--end row-->



</div>
<!--end container-->


<!--{{this._mainService.listado[this._mainService.id]["artist"]}}-->
<!--<img [src]="this._mainService.listado[this._mainService.id]['img']"  alt="...">-->

<!--<audio controls>
        <source src="" type="audio/mpeg">
      </audio>-->
